<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjIZrvPh0H2NBOj9SDT4zVXrFNapMgct4</string>
	<key>GCM_SENDER_ID</key>
	<string>830884975737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mosesndifon.plos</string>
	<key>PROJECT_ID</key>
	<string>plos-53fbd</string>
	<key>STORAGE_BUCKET</key>
	<string>plos-53fbd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830884975737:ios:595c83bb7276dea2c7f0a8</string>
	<key>DATABASE_URL</key>
	<string>https://plos-53fbd-default-rtdb.firebaseio.com</string>
</dict>
</plist>
